<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/book/{id}(id=${book.getBook_id()})}" th:object="${book}">
       <p th:text="${book.getBook_id()}">value</p>
       <label for="name">Enter name: </label>
       <input type="text" th:field="*{book_name}" id="name"/>
       <br><br>
       <label for="author">Enter author: </label>
      <input type="text" th:field="*{author}" id="author"/>
      <br><br>
      <label for="year">Enter year: </label>
      <input type="text" th:field="*{book_year}" id="year"/>

      <br/>
      <input type="submit" value="Update!"/>
    </form>
</body>
</html>