<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style type="text/css">
    a {
      font-size: 120%;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #121272;
    }
  </style>
  <title>Список книг</title>
</head>
<body>
<h2>Список всех книг</h2>
<div th:each="book : ${book}">
  <a
     th:href="@{/book/{id}(id=${book.getBook_id()})}"
     th:text="${book.getBook_name() + ', ' + book.getAuthor()+', '+book.getBook_year()+
     ' - '+book.getBook_id()}">user
  </a><br><br>
</div>
<p th:text="${book.size()}">count</p>
<br/>
<hr/>
<a href="/book/new" style="font-size: 20px">Добавить новую книгу</a>
</body>
</html>